apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: photo-postgres
spec:
  serviceName: photo-postgres
  replicas: 1
  selector:
    matchLabels:
      app: photo-postgres
  template:
    metadata:
      labels:
        app: photo-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: photo_platform
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: api-secrets
                  key: db_user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: api-secrets
                  key: db_password
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi
---
apiVersion: v1
kind: Service
metadata:
  name: photo-postgres
spec:
  selector:
    app: photo-postgres
  ports:
    - port: 5432
      targetPort: 5432
